.client-search-container {
  border: 1px solid var(--shadow);
  border-radius: var(--rounded);
  padding: 5px;
  margin-bottom: 12px;
  background-color: var(--background);
}
.client-btn {
  height: 30px;
  min-width: 35px;
  background-color: var(--action-button);
  border-radius: var(--rounded);
  cursor: pointer;
  border: 0;
}
.client-btn:hover {
  background-color: var(--action-button-hover);
}
.client-btn img {
  height: 20px;
}
.search {
  width: 100%;
  position: relative;
}
.frm-input-search {
  color: var(--text-color);
  background-color: var(--action-bg);
  border-radius: var(--rounded);
  border: none;
  height: var(--input-h);
  padding: 0 10px 0 30px;
  width: 100%;
  box-shadow: 1px 1px 1px var(--shadow);
}
.search-icon {
  height: 15px;
  width: 15px;
  stroke: var(--text-color2);
  position: absolute;
  z-index: 1;
  left: 8px;
}
.frm-input-search:hover,
.frm-input-search:focus-visible {
  outline: 1px solid var(--text-color2);
}

/* ******************************************************** */
.clients-list {
  margin-top: 5px;
  width: 100%;
  max-height: 40vh;
  min-height: 40vh;
  overflow-y: scroll;
  gap: 3px;
}
.clients {
  border-radius: var(--rounded);
  background-color: var(--foreground);
  padding: 7px;
  align-items: center;
  margin-right: 1px;
  box-shadow: 1px 1px 1px var(--shadow);
}
.clients:hover {
  background-color: var(--hover);
}
.client-search-id {
  background-color: var(--action-button);
  min-width: 35px;
  height: 20px;
  border-radius: var(--rounded);
  margin-right: 7px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--register-id);
}
.client-search-info {
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: left;
}
.client-search-name {
  flex-grow: 1;
  font-size: 1.2rem
}
.client-sell-price {
  color: gray;
  font-size: 1.2rem;
  width: 50px;
  text-align: right;
  margin-left: 5px;
}