.product-search-container {
  border: 1px solid var(--shadow);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 12px;
  background-color: var(--background);
}
.product-btn {
  margin-left: 5px;
  height: 30px;
  min-width: 35px;
  background-color: var(--action-button);
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}
.product-btn:hover {
  background-color: var(--action-button-hover);
}
.product-btn img {
  height: 20px;
}
.search {
  width: 100%;
  position: relative;
}
.frm-input-search {
  color: var(--text-color);
  background-color: var(--action-bg);
  border-radius: 4px;
  border: none;
  height: 30px;
  padding: 0 10px 0 30px;
  width: 100%;
  border: 1px solid var(--shadow);
}
.search-icon {
  height: 15px;
  width: 15px;
  stroke: var(--text-color2);
  position: absolute;
  z-index: 1;
  left: 8px;
}
.frm-input-search:hover,
.frm-input-search:focus-visible {
  outline: 1px solid var(--text-color2);
}

/* ******************************************************** */
.products-list {
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  max-height: 30vh;
  min-height: 30vh;
  overflow-y: scroll;
}
.products {
  padding: 5px;
  align-items: center;
  background-color: var(--foreground);
}
.product-search-id {
  background-color: var(--action-button);
  min-width: 35px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--register-id);
}
.product-search-info-container {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.product-search-info {
  justify-content: left;
}
.product-search-name {
  font-size: 1.2rem
}
.product-sell-price,
.product-cost-price {
  font-size: 1rem;
  width: 55px;
  text-align: right;
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 2px;
}
.product-sell-price {
  background-color: var(--info-green);
}
.product-cost-price {
  background-color: var(--info-red);
}
.product-search-add {
  height: 27px;
  min-width: 27px;
  max-width: 27px;
  padding: 6px;
  margin-left: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: rgb(220, 255, 220);
}
.product-search-add:hover {
  background-color: rgb(170, 255, 170);
}
@media (max-width: 500px) {
  .product-search-info-container {
    flex-direction: column;
    align-items: start;
  }
  .product-search-name {
    margin-bottom: 3px;
  }
  .product-sell-price {
    margin-left: 0;
  }
}