.cost-price,
.sell-price,
.profit {
  font-size: 1.3rem;
  border-radius: 2px;
  padding: 3px 5px;
  width: 50px;
  text-align: right;
  margin-left: 5px;
  font-size: 1rem;
}
.cost-price {
  background-color: var(--info-red);
}
.sell-price {
  background-color: var(--info-green);
}
.profit {
  background-color: var(--info-blue);
}

@media (max-width: 500px) {
  .cost-price,
  .sell-price,
  .profit {
    margin: 4px 5px 0 0;
  }
}