.empty-list {
  height: 40px;
  border-radius: 5px;
  color: var(--text-color2);
  font-size: 1.2rem;
  background-color: var(--foreground);
  box-shadow: 1px 1px 1px var(--shadow);
  margin-right: 1px;
}