.product-card input[type=number]{
  -moz-appearance: textfield;
}
.product-card input::-webkit-outer-spin-button,
.product-card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-card {
  width: 100%;
  padding: 5px;
  box-shadow: 1px 1px 2px var(--shadow);
  border-radius: var(--rounded);
  border-top: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
}
.product-info-container {
  flex-grow: 1;
  justify-content: space-between;
}
.product-info:nth-child(2) {
  align-items: center;
}
.product-id {
  background-color: var(--action-button);
  margin-right: 8px;
  border-radius: var(--rounded);
  height: 20px;
  min-width: 35px;
  font-size: 1rem;
  color: var(--register-id);
}
.product-name {
  align-items: center;
}
.product-name,
.product-price {
  font-size: 1.2rem;
}
.product-price {
  color: var(--text-color2);
  width: 50px;
  min-width: 30px;
  text-align: right;
}
.quantity-container {
  margin-left: 10px;
  border: 1px solid var(--shadow);
  border-radius: var(--rounded);
  overflow: hidden;
}
.quantity {
  height: 20px;
  width: 30px;
  text-align: center;
  border: none;
  font-size: 1.1rem;
  color: var(--text-color2);
}
.quantity:focus-visible {
  outline: none;
}
.quantity-button {
  border: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: var(--action-button);
  color: var(--text-color);
  transition: 0.1s linear;
}
.quantity-button:hover {
  background-color: var(--action-button-hover);
}
.subtotal {
  margin-left: 5px;
  width: 60px;
  min-width: 60px;
  justify-content: right;
  font-size: 1.2rem;
}
.product-delete {
  border-radius: var(--rounded);
  padding: 5px;
  stroke: rgb(197, 28, 28);
  margin-left: 10px;
  height: 27px;
  max-width: 27px;
  min-width: 27px;
  cursor: pointer;
  background-color: rgb(255, 220, 220);
  transition: 0.1s linear;
}
.product-delete:hover {
  background-color: rgb(255, 188, 188);
}

@media (max-width: 500px) {
  .product-info-container {
    flex-direction: column;
  }
  .product-info {
    flex-direction: row-reverse;
  }
  .product-info:nth-child(2) {
    margin-top: 5px;
    justify-content: left;
  }
  .product-price {
    margin-left: 10px;
  }
  .quantity-container {
    margin-left: 0;
  }
}
@media (max-width: 350px) {
  .product-price {
    margin-left: 0;
    margin-bottom: 5px;
    text-align: left;
  }
  .product-info:nth-child(2) {
    flex-direction: column;
    align-items: start;
  }
}