/* :root {
  --action-bg: #282828;
  --action-button-hover: #82bbd4;
  --action-button: #91d4f0;
  --background: #121212;
  --divider: #575757;
  --foreground: #282828;
  --hover: #38525b;
  --info-blue: rgb(67, 79, 146);
  --info-gray: rgb(96, 96, 96);
  --info-green: rgb(31, 106, 31);
  --info-red: rgb(139, 56, 56);
  --menu-active-border: #91d4f0;
  --menu-active: #38525b;
  --register-id: black;
  --shadow: #494c4e;
  --text-color: white;
  --text-color2: #e6e6e6;
  --rounded: 10px;
} */
/* light theme */
:root {
  --action-bg: white;
  --action-button-hover: rgb(150, 194, 255);
  --action-button: rgb(172, 219, 241);
  --background: rgb(243, 247, 249);
  --divider: rgb(230, 230, 230);
  --foreground: white;
  --hover: rgb(214, 246, 255);
  --info-blue: rgb(209, 216, 255);
  --info-gray: rgb(221, 221, 221);
  --info-green: rgb(187, 243, 187);
  --info-red: rgb(255, 208, 208);
  --register-id: black;
  --shadow: gainsboro;
  --text-color: black;
  --text-color2: #5a5a5a;
  --rounded: 10px;
  --input-h: 30px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
a, p, span, label {
  color: var(--text-color);
  font-size: 1.4rem;
  text-decoration: none;
}
h1, h2 {
  color: var(--text-color);
}
span {
  cursor: default;
}
h1 {
  font-size: 1.7rem;
}

.app-container {
  height: 100vh;
  background-color: var(--background);
  /* overflow: hidden; */
}
.main-window {
  padding: 0 12px;
  flex-grow: 1;
  height: 100vh;
}
  /*Flex and directions*/
.flx {
  display: flex;
}
.flx-col {
  flex-direction: column;
}
.flx-center {
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px) {
  .app-container {
    flex-direction: column;
  }
  .main-window {
    height: calc(100vh - 65px);
  }
}