.register-options {
  width: 100%;
  justify-content: space-around;
}
.option-button {
  background-color: var(--action-button);
  border-radius: var(--rounded);
  padding: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 2px var(--shadow);
  transition: 0.1s linear;
}
.option-button:hover,
.payment-opt:hover {
  background-color: var(--action-button-hover);
}
.register-option {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.option-button-label {
  color: var(--text-color);
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
}
.register-options-payment {
  margin-left: 5px;
  height: 100%;
  gap: 5px;
}
.payment-opt {
  height: 35px;
  width: 35px;
  background-color: var(--action-button);
  border-radius: var(--rounded);
  padding: 5px;
  cursor: pointer;
  border: none;
  transition: 0.1s linear;
  box-shadow: 1px 1px 2px var(--shadow);
}