.register-title {
  margin-bottom: 6px;
}
.register-list {
  width: 100%;
  overflow-y: scroll;
  gap: 3px;
  padding-bottom: 1px;
  border-radius: var(--rounded);
}
.register-card {
  border-radius: var(--rounded);
  background-color: var(--foreground);
  padding: 10px;
  align-items: center;
  box-shadow: 1px 1px 1px var(--shadow);
  margin-right: 2px;
  gap: 10px;
}
.register-card:hover {
  background-color: var(--hover);
}
.id {
  background-color: var(--action-button);
  min-width: 40px;
  height: 20px;
  border-radius: var(--rounded);
  font-size: 1rem;
  color: var(--register-id);
}
.name {
  font-size: 1.3rem;
  flex-grow: 1;
}
.phone {
  color: gray;
  text-align: end;
  font-size: 1.2rem;
  width: 110px;
}
.info,
.info-total {
  align-items: center;
  flex-grow: 1;
  gap: 3px;
}
.info-total {
  justify-content: end;
}
.info-detail {
  gap: 3px;
  flex-wrap: wrap;
  align-items: center;
}
.total,
.abono,
.saldo,
.date,
.profit,
.order-no,
.cost-price,
.sell-price {
  border-radius: var(--rounded);
  padding: 3px 5px;
  text-align: right;
  font-size: 1rem;
  width: 60px;
}
.date {
  text-align: center;
  border: 1px solid gainsboro;
}
.order-no {
  text-align: center;
}
.total,
.order-no {
  background-color: var(--info-gray);
}
.abono,
.sell-price {
  background-color: var(--info-green);
}
.saldo,
.cost-price {
  background-color: var(--info-red);
}
.profit {
  background-color: var(--info-blue);
}
.total-separator {
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 500px) {
  .info {
    flex-direction: column;
    align-items: start;
  }
  .info-total {
    justify-content: start;
  }
  .phone {
    text-align: left;
  }
  .phone {
    font-size: 1.1rem;
  }
}