.side-menu {
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--foreground);
  box-shadow: 1px 0 5px var(--shadow);
  border-radius: 0 var(--rounded) var(--rounded) 0;
  z-index: 3;
  overflow: hidden;
  min-width: 189px;
}
.sidebar-logo {
  height: 50px;
  background-color: transparent;
  min-height: 50px;
}
/*Options*/
.side-menu-div {
  width: 100%;
  flex-direction: column;
}
.side-menu-options {
  flex-direction: column;
  justify-content: start;
  overflow: scroll;
}
.side-menu-opt {
  color: var(--text-color);
  width: 80%;
  height: 40px;
  justify-content: left;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  padding-left: 10px;
  cursor: pointer;
  border-radius: var(--rounded);
  transition: 0.1s linear;
}
.side-menu-opt:hover {
  background-color: var(--hover);
}
.side-menu-divider {
  margin: 3px 0;
  border-bottom: 1px solid var(--divider);
  width: 80%;
}
.hidden {
  display: none;
}
.menu-option-active {
  background-color: var(--hover);
}
@media (max-width: 650px) {
  .side-menu {
    flex-direction: row;
    min-height: 65px;
    height: 65px;
    border-radius: var(--rounded) var(--rounded) 0 0;
    justify-content: center;
    order: 1;
  }
  .sidebar-logo {
    display: none;
  }
  /*Options*/
  .side-menu-options {
    flex-direction: row;
    gap: 5px;
    padding: 0 10px;
  }
  .side-menu-div {
    flex-direction: row;
  }
  .side-menu-opt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    min-width: 50px;
    padding: 0 7px;
    height: 50px;
  }
}