.side-menu {
  min-height: 100vh;
  background-color: var(--foreground);
  box-shadow: 1px 0 5px var(--shadow);
  border-radius: 0 10px 10px 0;
  z-index: 3;
  overflow: hidden;
  min-width: 189px;
}
.sidebar-logo {
  height: 50px;
  background-color: transparent;
  min-height: 50px;
}
/*Options*/
.side-menu-div {
  width: 100%;
}
.side-menu-options {
  justify-content: start;
  overflow: scroll;
}
.side-menu-opt {
  color: var(--text-color);
  width: 80%;
  height: 40px;
  justify-content: left;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  padding-left: 10px;
  cursor: pointer;
  border-radius: var(--rounded);
  transition: 0.1s linear;
}
.side-menu-opt:hover {
  background-color: var(--hover);
}
.side-menu-divider {
  margin: 3px 0;
  border-bottom: 1px solid var(--divider);
  width: 80%;
}
.close-menu {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: left;
  top: 0;
  z-index: 1;
}
.hidden {
  display: none;
}
.menu-option-active {
  background-color: var(--action-button-hover);
}
@media (max-width: 650px) {
  .side-menu {
    max-height: 100vh;
    position: absolute;
    z-index: 2;
    box-shadow: none;
  }
}