.register-frm-btn {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.frm-btn-cancel,
.frm-btn-submit {
  border-radius: var(--rounded);
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
  width: 25%;
  transition: 0.1s linear;
}
.frm-btn-submit {
  background-color: rgb(67, 160, 87);
  margin-left: 12px;
}
.frm-btn-submit:hover {
  background-color: rgb(23, 121, 45);
}
.frm-btn-cancel {
  background-color: rgb(187, 84, 84);
}
.frm-btn-cancel:hover {
  background-color: rgb(161, 45, 45);
}

@media (max-width: 500px) {
  .frm-btn-cancel,
  .frm-btn-submit {
    width: 100%;
  }
}