.frm-input-label {
  color: var(--text-color2);
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 3px;
  margin-left: 5px;
  font-weight: bold;
}
.frm-input {
  background-color: var(--background);
  border-radius: var(--rounded);
  border: none;
  box-shadow: 0 0 2px var(--shadow);
  height: var(--input-h);
  width: 100%;
  font-size: 1.2rem;
  padding: 0 10px;
  color: var(--text-color);
}
.frm-input:hover {
  outline: 1px solid gray;
}
.frm-input:focus-visible {
  outline: 1px solid gray;
}