.frm-input-loading {
    background-color: var(--background);
    border-radius: var(--rounded);
    border: 1px solid var(--shadow);
    height: var(--input-h);
    width: 100%;
    padding: 0 10px;
    animation: fade infinite 1s linear;
  }
  @keyframes fade {
    50% {background-color: var(--divider);}
    100% {background-color: var(--background);}
  }