.action-buttons {
  margin-bottom: 12px;
}
.action-btn {
  margin-left: 5px;
  height: 30px;
  max-width: 35px;
  background-color: var(--action-button);
  border-radius: var(--rounded);
  cursor: pointer;
  border: 0;
  width: 100%;
  box-shadow: 1px 1px 1px var(--shadow);
  transition: 0.1s linear;
}
.action-btn:hover {
  background-color: var(--action-button-hover);
}
.action-btn img {
  height: 20px;
}
.search {
  width: 100%;
  position: relative;
}
.action-search {
  color: var(--text-color);
  background-color: var(--action-bg);
  border-radius: var(--rounded);
  border: none;
  height: var(--input-h);
  padding: 0 10px 0 30px;
  width: 100%;
  box-shadow: 1px 1px 1px var(--shadow);
  transition: 0.1s linear;
}
.search-icon {
  height: 15px;
  width: 15px;
  stroke: var(--text-color2);
  position: absolute;
  z-index: 1;
  left: 8px;
}
.action-search:hover,
.action-search:focus-visible {
  outline: 1px solid var(--text-color2);
}