.order-container {
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
  width: 100%;
  padding: 10px 0;
}
.order-info-container {
  background-color: var(--foreground);
  border-radius: var(--rounded);
  box-shadow: 1px 1px 2px var(--shadow);
  gap: 10px;
  padding: 10px;
}
.order-title {
  color: var(--text-color2);
}
.order-info {
  margin-bottom: 12px;
  width: 100%;
  align-items: end;
  gap: 12px;
}
.order-info div {
  width: 100%;
}
.order-id {
  justify-content: center;
}
.order-total {
  justify-content: right;
  font-size: 1.1rem;
  width: 100%;
  padding: 0 10px;
}
.client-add {
  height: var(--input-h);
  width: 65px;
  min-width: 65px;
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px var(--shadow);
  transition: 0.1s linear;
}
.order-totals {
  justify-content: space-evenly;
  background-color: var(--background);
  padding: 10px 0;
  border-radius: var(--rounded);
}
.order-totals-item,
.order-totals-label {
  font-size: 1.2rem;
}
.order-totals-label {
  margin-bottom: 5px;
  color: var(--text-color2);
}
.order-totals-item {
  color: var(--text-color);
  font-weight: bold;
}
.order-restante {
  gap: 12px;
  align-items: center;
}
.order-restante-input-div {
  gap: 12px;
  justify-content: center;
}
.order-restante-mensaje {
  background-color: #d9fdd3;
  padding: 10px;
  border-radius: var(--rounded);
  box-shadow: 1px 1px 2px var(--shadow);
  width: 100%;
}
.order-restante-mensaje p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
}